<!DOCTYPE html>
<html lang="es_ES">
<head>
	<meta charset="utf-8" />
	<title> {% block title %} {% endblock %} | Alianza Cristiana y Misionera Colombiana</title>
	<meta name="viewport" content="width=device-width , initial-scale=1 ,maximum-scale=1" /> 
	<meta name="robots" content="noindex,nofollow,noarchive,noodp,nosnippet">
	<link rel="shortcut icon" href="{{STATIC_URL}}img/favicon.png" type="image/png">
	{% block head_css_sup %}{% endblock %}
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/base.css?107">
	{% block head_css_inf %}{% endblock %}

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="{{STATIC_URL}}js/lib/jquery-1.7.2.min.js"><\/script>')</script>
	{% block head_script %}{% endblock %}

	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<!--[if (gte IE 6)&(lte IE 8)]>
		<script src="{{ STATIC_URL }}js/selectivizr-min.js"></script>
		<script src="{{ STATIC_URL }}js/respond.min.js"></script>
		<noscript>
 			<link rel="stylesheet" href="[fallback css]">
		</noscript>
	<![endif]-->
</head>

<body>
	<div id="fondo-sup" class="clearfix">
		<div id="wrapper1">
			<div id="search">
				<a href="#" title="Ver página de contacto">Contáctenos</a>
				<span>|</span>Buscar
				<input type="search">
			</div>

			<header class="clearfix">
				<div id="logo">
					<a href="/"><img src="{{ STATIC_URL }}img/LOGO-ALIANZA.png" title="Iglesia Alianza Cristiana y Misionera Colombiana"></a>
				</div>

				<nav>
					<ul id="menu">
						<li><a href="/">INICIO</a></li>
						<li>
							<a href="/nosotros">QUIENES SOMOS</a>
							<ul class="sub-menu">
								<li><a href="/nosotros">Cuando todo empezó</a></li>
								<li><a href="/vision">Visión</a></li>
								<li><a href="/mision">Misión</a></li>
							</ul>
						</li>
						<li>
							<a href="/">MINISTERIOS</a>
							<ul class="sub-menu">
								<li><a href="/">Red de Oración</a></li>
								<li><a href="/">Misiones</a></li>
								<li><a href="/">Jóvenes</a></li>
							</ul>
						</li>
						<li><a href="/">NOTICIAS</a></li>
						<li><a href="/">RECURSOS</a></li>
					</ul>

				</nav>

			</header>

			<section id="section-sup">
				{% block header2 %}
				<section class="header2 clearfix">
					<div class="banner clearfix">
						<div>
							{% if imag %}
							<img src="{{STATIC_URL}}img/{{imag}}">
							{% else %}{% endif %}
							<h1>{{titulo|safe}}</h1>
						</div>		
					</div>
				</section>
				{% endblock header2 %}

				{% block section_sup %}{% endblock %}
				
			</section>

		</div>
	</div>

	<div id="fondo-inf" class="clearfix">
		<div id="wrapper2">
			<section id="section-inf" class="clearfix">

				{% block section_inf %}{% endblock %}

				{% block footer2 %}
				<div id="footer2" class="clearfix">
					{% if titulo == 'CUANDO TODO EMPEZO' %}
					<a href="#">
						<img src="{{STATIC_URL}}img/logo-imagen-corp.png">
					</a>
					{% else %}{% endif %}
					<aside id="aside-quienes">
						<ul id="redes">
							<li><a href="http://www.facebook.com/pages/IGLESIA-ALIANZA-CRISTIANA-MISIONERA-COLOMBIANA/251951971521832" target="_blank"></a></li>
							<li><a href="http://twitter.com" target="_blank"></a></li>
							<li><a href="http://www.youtube.com/channel/UClxDhbzp8VgAs79rCFE3O7w/feed" target="_blank"></a></li>
						</ul>
					</aside>	
				</div>	
				{% endblock footer2 %}
			</section>
			
			<footer>
				<div id="top-footer"></div>
			  
				<ul>
					<li>
						<div><a href="/">INICIO</a><span></span></div>		
					</li>
					<li>
						<div><a href="/nosotros">QUIENES SOMOS</a><span></span></div>
						
						<ul class="submenu-footer">
							<li><a href="/nosotros">Cuando todo empezó</a></li>
							<li><a href="/vision">Visión</a></li>
							<li><a href="/mision">Misión</a></li>	
						</ul>
					</li>
					<li>
						<div><a href="ministerios.html">MINISTERIOS</a><span></span></div>
						
					</li>
					<li>
						<div><a href="noticias.html">NOTICIAS</a><span></span></div>
					</li>
					<li>
						<div><a href="recursos.html">RECURSOS</a><span></span></div>
					</li>

				</ul>

				<p>
					Todos los derechos reservados ©2012<br/> Iglesia Alianza Cristiana & Misionera Colombiana
				</p>
			</footer>



		</div>
	</div>


{% block bootom_script %}{% endblock %}

</body>

</html>