<!DOCTYPE html>
<html lang="es_ES">
<head>
	<meta charset="utf-8" />
	<title> {% block title %} {% endblock %} | Alianza Cristiana y Misionera Colombiana</title>
	<meta name="viewport" content="width=device-width , initial-scale=1 ,maximum-scale=1" /> 
	<meta name="robots" content="noindex,nofollow,noarchive,noodp,nosnippet">
	<link rel="shortcut icon" href="{{STATIC_URL}}img/favicon.png" type="image/png">
	{% block head_css %}{% endblock %}

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<!--<script type="text/javascript" src="{{STATIC_URL}}js/lib/jquery-1.7.2.min.js" ></script>-->
	{% block head_script %}{% endblock %}

	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<!--[if (gte IE 6)&(lte IE 8)]>
		<script src="{{ STATIC_URL }}js/selectivizr-min.js"></script>
		<script src="{{ STATIC_URL }}js/respond.min.js"></script>
		<noscript>
 			<link rel="stylesheet" href="[fallback css]">
		</noscript>
	<![endif]-->
</head>

<body>

<div id="wrapper">
	<div id="search">
		<a href="#" title="Ver página de contacto">Contáctenos</a>
		<span>|</span>Buscar
		<input type="search">
	</div>

	<header class="clearfix">
		<div id="logo">
			<img title="Alianza Cristiana" src="{{ STATIC_URL }}img/logo.png" width="300" height="50">
		</div>

		<nav>
			<ul id="menu">
				<li><a href="/">INICIO</a></li>
				<li>
					<a href="/">QUIENES SOMOS</a>
					<ul class="sub-menu">
						<li><a href="/">Misión</a></li>
						<li><a href="/">Visión</a></li>
						<li><a href="/">Oficina Nacional</a></li>
						<li><a href="/">La Alianza en Colombia</a></li>
						<li><a href="/">Imagen Corporativa</a></li>
					</ul>
				</li>
				<li>
					<a href="/">MINISTERIOS</a>
					<ul class="sub-menu">
						<li><a href="/">Red de Oración</a></li>
						<li><a href="/">Misiones</a></li>
						<li><a href="/">Jóvenes</a></li>
					</ul>
				</li>
				<li><a href="/">NOTICIAS</a></li>
				<li><a href="/">EVENTOS</a></li>
			</ul>

		</nav>

	</header>

	<section id="cuerpo">
		{% block section_contenido %}{% endblock %}	
	</section>
			

	<footer class="conten2">
		<div id="top-footer"></div>
	  
		<ul>
			<li>
				<div><a href="index.html">INICIO</a><span></span></div>		
			</li>
			<li>
				<div><a href="quienes_somos.html">QUIENES SOMOS</a><span></span></div>
				
				<ul class="submenu-footer">
					<li><a href="mision.html">Misión</a></li>	
					<li><a href="vision.html">Visión</a></li>
					<li><a href="#">Oficina Nacional</a></li>
					<li><a href="sedes.html">La Alianza en Colombia</a></li>
					<li><a href="imagen-corporativa.html">Imagen Corporativa</a></li>
				</ul>
			</li>
			<li>
				<div><a href="ministerios.html">MINISTERIOS</a><span></span></div>
				
				<ul class="submenu-footer">
					<li><a href="#">Red de Oración</a></li>	
					<li><a href="#">Misión</a></li>	
					<li><a href="#">SEBAC</a></li>
					<li><a href="#">Relaciones & Proyectos</a></li>
					<li><a href="#">Femenil</a></li>
					<li><a href="#">Alianza Jóven</a></li>
					<li><a href="#">Infantil</a></li>	
				</ul>
			</li>
			<li>
				<div><a href="noticias.html">NOTICIAS</a><span></span></div>
				
				<ul class="submenu-footer">
					<li><a href="#">Alianza Nacional</a></li>	
					<li><a href="#">Educación</a></li>	
					<li><a href="#">Interés General</a></li>	
					<li><a href="#">Ayuda Social</a></li>	
				</ul>
			</li>
			<li>
				<div><a href="eventos.html">EVENTOS</a><span></span></div>
				
				<ul class="submenu-footer">
					<li><a href="#">Nacionales</a></li>	
					<li><a href="#">Regionales</a></li>		
					<li><a href="#">Locales</a></li>	
					<li><a href="#">Entorno Cristiano</a></li>					
				</ul>
			</li>
			<li>
				<div><a href="recursos.html">RECURSOS</a><span></span></div>
				
				<ul class="submenu-footer">
					<li><a href="#">Contabilidad</a></li>	
					<li><a href="#">Devocionales</a></li>	
					<li><a href="#">Videos</a></li>
					<li><a href="#">Wallpaper</a></li>
					<li><a href="#">Materiales E.F.I.</a></li>
					<li><a href="#">Multimedia</a></li>
				</ul>
			</li>

		</ul>

		<p>
			Todos los derechos reservados ©2012<br/> Iglesia Alianza Cristiana & Misionera Colombiana
		</p>

		<aside>
			<ul id="redes">
				<li><a href="http://www.facebook.com/pages/alianza-cristiana-y-misionera-colombiana/146113898826256"></a></li>
				<li><a href="http://twitter.com"></a></li>
				<li><a href="http://www.youtube.com/user/NEWKOKO712?feature=watch"></a></li>
			</ul>
		</aside>

	</footer>

	
</div>	

{% block bootom_script %}{% endblock %}

</body>

</html>