{% extends 'website/vision.html' %}
{% block title %}¿En que Creemos?{% endblock%}

{% block contenido_cuerpo2 %}
<article>
		<h3 class="fondo-abano">¿En que Creemos?</h3>
		<div class="fondo-abano">
			<p>Nuestra Doctrina está contenida en los siguientes postulados de fe:</p>

			<p><strong>La Trinidad:</strong> Existe un solo Dios infinito, inmutable y perfecto, creador y sustentador de todas las cosas de eterna existencia en las tres personas de la Trinidad: Padre, Hijo y Espíritu Santo.</p>	

			<p><strong>Jesucristo:</strong> El señor Jesucristo es verdadero Dios y verdadero hombre, el único que puede dar salvación al hombre pecador. Cristo volverá corporalmente por Segunda vez a esta tierra para establecer Su Reino.</p>

			<p><strong>El Espíritu Santo:</strong> El Espíritu Santo es la tercera persona de la Trinidad, habita en todo creyente, a quien guía, enseña y llena con su poder. Es la voluntad de Dios que cada creyente experimente la plenitud del Espíritu Santo en su vida. El Espíritu Santo convence al mundo de pecado, justicia y juicio.</p>

			<p><strong>La Biblia:</strong> Es la palabra inspirada de Dios, constituyente la revelación completa, por lo tanto es infalible y perfecta, es la única regla de fe y conducta cristiana.</p>

			<p><strong>El Hombre:</strong> El hombre ha sido creado a la imagen y semejanza de Dios, cayó por desobediencia, trayendo así la muerte física y espiritual sobre la aza humana. El Hombre nace desde entonces con una naturaleza pecaminosa, separado de Dios y con la necesidad de salvación.</p>

			<p>El destino eterno del creyente: El destino del creyente es una existencia en espíritu, alma y cuerpo glorificado, de eterno gozo y bienaventuranza en la presencia de Dios.</p>

			<p><strong>La sanidad Divina:</strong> Dios tiene el poder de sanar cualquier enfermedad.</p>

			<p><strong>La Iglesia Universal:</strong> Está compuesta por todos los creyentes en Jesucristo, a quien reconocen como su autoridad y cabeza.</p>

			<p><strong>La Salvación:</strong> Se ha provisto por medio de Jesucristo para todos los hombres. Los que se arrepienten y creen en El, nacen de nuevo por medio del Espíritu Santo, reciben el Don de la vida Eterna y llegan a ser hijos de Dios.</p>

			<p><strong>La Justicia de Dios:</strong> Es una manifestación de Su naturaleza perfecta al hombre exigiendo de éste conformidad a ella y castigándolo por su no conformidad a la misma Rom. 2:5-11.</p>

			<p><strong>El Pecado:</strong> Es la realidad triste y terrible en la vida del hombre por transgredir la ley de Dios, lo que trae como consecuencia la separación de él Rom 3:23.</p>

			<p><strong>El Castigo Eterno:</strong> Es la retribución de no haber aceptado la Gracia Divina siendo incrédulo a Cristo. Se manifestará en sufrimiento moral y físico, tan real u eterno como la misma Salvación Mt. 25:41.</p>

			<p><strong>El Evangelio cuádruple:</strong> Es el resumen de las doctrinas distintivas de nuestra Iglesia Alianza Cristiana, Cristo: salva, santifica, sana y vuelve.</p>
		</div>

</article>

{% endblock contenido_cuerpo2 %}