{% extends 'website/vision.html' %}
{% block title %}EFI{% endblock%}

{% block contenido_cuerpo2 %}
<article id="efi">
		<h3 class="fondo-abano">E.F.I. <span>(Escuela de Formación Integral)</span></h3>
		<div class="fondo-abano">
			<p>La E.F.I hace parte del seminario el cual reconoce los dos primeros semestres.</p>

			<h4>PENSUM ACADÉMICO E.F.I</h4>

			<h5>SEMESTRE I<br>CERTIFICADO EN DISCIPULADO BÁSICO</h5>
			<ul>	
				<li>Mis primeros pasos</li>
				<li>Caminando con Dios</li>
				<li>Verdades Fundamentales</li>
				<h5>INTENSIVOS</h5>
				<li>Encuentro de Libertad en Cristo</li>
				<li>Sanidad Interior</li>
			</ul>


			<h5>SEMESTRE II<br>CERTIFICADOS EN LIDERAZGO CRISTIANO</h5>
			<ul>
				<li>Doctrinas Fundamentales</li>
				<li>Cómo estudiar la Biblia</li>
				<li>Liderazgo cristiano I</li>
				<li>Evangelismo y Consolidación</li>
				<li>El espíritu Santo I</li>
				<li>Práctica Ministerial</li>
				<h5>INTENSIVOS</h5>
				<li>Encuentro de Oración</li>
			</ul>

		</div>

</article>

{% endblock contenido_cuerpo2 %}