{% extends 'website/vision.html' %}
{% block title %}Nuestras fundaciones{% endblock%}

{% block contenido_cuerpo2 %}
<article id="fundaciones">
	<h3 class="fondo-abano">Nuestras Fundaciones</h3>
	
	<div class="clearfix">		
		<img src="{{STATIC_URL}}img/ebenezer.jpg">	
		<strong>Ebenezer</strong> es una fundación sin ánimo de lucro, dedicada especial y exclusivamente a los grupos religiosos de todas las denominaciones, y grupos de deportistas o de estudiantes que requieran de espacios dedicados a la formación espiritual, integral o física, donde puedan obtener capacitación, formación e instrucción dirigida por los directivos de los diferentes grupos. Ver mas...	
	</div>
	<div class="clearfix">		
		<img src="{{STATIC_URL}}img/colegio.jpg">	
		<strong>El Colegio Jorge Isaacs,</strong> ofrece a sus estudiantes una formación integral, fundamentada en unos principios psicológicos, científicos, éticos, estéticos y sociales; que les permitan desempeñarse en el futuro como miembros útiles de la sociedad, por lo cual desarrolla la educación como un proceso integral. Ver mas...	
	</div>
	<div class="clearfix">		
		<img src="{{STATIC_URL}}img/publicaciones.jpg">	
		<strong>Publicaciones Alianza,</strong> donde se realiza todo el proceso de impresión del material que utilizamos en la Escuela de Formación Integral, E.F.I., y el material que se utiliza para las Asambleas Nacionales, Actualizaciones Pastorales y otros eventos similares. Ver mas...	
	</div>
	<div class="clearfix">		
		<img src="{{STATIC_URL}}img/seminario.jpg">	
		<strong>El Serminario Biblico Alianza  De Colombia-Sebac,</strong> es una  institución de  formación  ministerial auspiciada por la Alianza Cristiana Y Misionera Colombiana, fundadó  en el año 1933. Ver mas...	
	</div>


</article>

{% endblock contenido_cuerpo2 %}

{% block footer2 %}
{%  endblock %}