{% extends 'website/base1.html' %}
{% block title %}Inicio{% endblock%}

{% block head_css_sup %}
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/flexslider/flexslider.css">
{% endblock %}

{% block section_sup %}
<section id="header-home">
	<div id="galeria">
		<div class="flexslider">
			<ul class="slides">
				<li><img src="{{STATIC_URL}}img/IMG4.jpg"></li>
				<li><img src="{{STATIC_URL}}img/IMG3.jpg"></li>
				<li><img src="{{STATIC_URL}}img/IMG2.jpg"></li>
				<li><img src="{{STATIC_URL}}img/IMG1.jpg"></li>

				<!--{% for dato in noticias %}
					<li>
						<a href="{% url website.views.detalle_noticia dato.id %}"><img src="{{MEDIA_URL}}{{dato.imagen}}"></a>
					</li>
					{% empty %}
						<li>No se ha publicado ninguna noticia.</li>
				{% endfor %}-->		
			</ul>
		</div>
	</div>
</section>
{% endblock %}


{% block section_inf %}
<section id="tips-home">
	<article class="clearfix">
		<h3>¿VISITAS ESTE SITIO POR PRIMERA VEZ?</h3>
		<div>
			<img src="{{STATIC_URL}}img/pasos.jpg">
		</div>
		<p>
			Si esta es tu primera vez en nuestro sitio Web, este espacio esta creado 
			especialmente para ti, donde encontrarás 4 pasos fundamentales a seguir y 
			donde estamos seguros que será el comienzo de un cambio importante para tu 
			vida.
		</p>
		<a href="">ver más...<div></div></a>
	</article>
	<article class="clearfix">
		<h3>PENSAMOS EN TÍ Y ORAMOS POR TÍ</h3>
		<div>
			<img src="{{STATIC_URL}}img/oramos.jpg">
		</div>
		<p>
			Y esta es la confianza que tenemos en El, que si pedimos alguna cosa conforme
			a su voluntad, El nos oye.<br/><span><strong>1ª Juan 5:14</strong></span>
		</p>
		<a href="{% url website.views.peticiones %}">ver más...<div></div></a>
	</article>
	<article class="clearfix">
		<h3>¿COMO VINCULARSE?</h3>
		<div>
			<img src="{{STATIC_URL}}img/vincularse.jpg">
		</div>
		<p>
			Aquí puedes encontrar toda la información general de nuestras sedes a nivel nacional,
			su ubicación, sus horarios, sus ministerios, sus pastores. De esta manera puedes 
			vincularte en la sede que más se te facilite.
		</p>
		<a href="">ver más...<div></div></a>		
	</article>	

</section>

<div class="barra"></div>
<section id="preview-home">
	<article>
		<h4>VIDEO DE LA SEMANA</h4>
		<div id="video">
			<div class="video-container">
	        	<iframe width="560" height="315" src="http://www.youtube.com/embed/Bgi2ixXSWfg" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>
	</article><!--
	--><article>
		<h4>TUS LIBROS PARA LA EFI</h4>
		<div>
    		<img src="{{STATIC_URL}}img/libros_efi.jpg">
		</div>
	</article><!--
	--><article>
		<h4>BOLETÍN INFORMATIVO</h4>
		<div>
    		<img src="{{STATIC_URL}}img/boletin.jpg">
		</div>
	</article>
</section>
<div class="barra"></div>
{% endblock %}

{% block bootom_script %}
	<script src="{{STATIC_URL}}js/lib/jquery.flexslider-min.js"></script>

	<script type="text/javascript" charset="utf-8">

  		$(window).load(function() {
   			$('.flexslider').flexslider({
   					//controlNav: true,
   					//directionNav: true,
   					pauseOnHover: true,
   					slideshowSpeed: 4000,
   					animation: "slide", 
   				});
        });

	</script>

{% endblock %}
