{% extends 'website/base.html' %}
{% block title %}Inicio{% endblock%}

{% block head_css %}
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/flexslider/flexslider.css">
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/base.css?103">
{% endblock %}

{% block section_contenido %}
 
<section id="contenido-home" class="conten1">
	<div id="galeria">
		<div id="fotos">
			<div class="flexslider">
				<ul class="slides">
					<li><img src="{{STATIC_URL}}img/mujeres.jpg"/></li>
					<li><img src="{{STATIC_URL}}img/misiones.jpg"/></li>
					<li><img src="{{STATIC_URL}}img/relacionate.jpg"/></li>
					<li><img src="{{STATIC_URL}}img/actualizacion_pastoral.jpg"/></li>		
				</ul>
			</div>
		</div>
		<ul id="control">
			<li>
				<a href=""></a>
				<img src="{{STATIC_URL}}img/mujeres.jpg"/>
				<p>Congreso regional de mujeres</p>
			</li>
			<li>
				<img src="{{STATIC_URL}}img/misiones.jpg"/>
				<p>Congreso nacional de misiones</p>
				<a href=""></a>
			</li>
			<li>
				<img src="{{STATIC_URL}}img/relacionate.jpg"/>
				<p>Congreso regional de jóvenes</p>
				<a href=""></a>
			</li>
			<li>
				<img src="{{STATIC_URL}}img/actualizacion_pastoral.jpg"/>
				<p>Actualizacion Pastoral</p>
				<a href=""></a>
			</li>
		</ul>

	</div>
</section>

<section id="tips-home">
	<article class="clearfix">
		<h3>¿Visitas este sitio por primera vez?</h3>
		<div>
			<img src="{{STATIC_URL}}img/pasos.jpg">
		</div>
		<p>
			Si esta es tu primera ves en nuestro sitio Web, este espacio esta creado 
			especialmente para ti, donde encontrarás 4 pasos fundamentales a seguir y 
			donde estamos seguros que será el comienzo de un cambio importante para tu 
			vida.
		</p>
		<a href="">ver más...<div></div></a>
	</article>
	<article class="clearfix">
		<h3>Pensamos en tí y Oramos por tí</h3>
		<div>
			<img src="{{STATIC_URL}}img/oramos.jpg">
		</div>
		<p>
			Y esta es la confianza que tenemos en El, que si pedimos alguna cosa conforme
			a su voluntad, El nos oye.<br/><span><strong>1ª Juan 5:14</strong></span>
		</p>
		<a href="">ver más...<div></div></a>
	</article>
	<article class="clearfix">
		<h3>¿Como vincularse?</h3>
		<div>
			<img src="{{STATIC_URL}}img/vincularse.jpg">
		</div>
		<p>
			Aquí puedes encontrar toda la información general de nuestras sedes a nivel nacional,
			su ubicación, sus horarios, sus ministerios, sus pastores. De esta manera puedes 
			vincularte en la sede que más se te facilite.
		</p>
		<a href="">ver más...<div></div></a>		
	</article>	

</section>

{% endblock %}


{% block bootom_script %}
	<script src="{{STATIC_URL}}js/lib/jquery.flexslider-min.js"></script>

	<script type="text/javascript" charset="utf-8">

  		$(window).load(function() {
   			$('.flexslider').flexslider({
   					controlNav: true,
   					directionNav: false,
   					pauseOnHover: true,
   					//controlsContainer: ".flexslider-container", 
   					//animation: "slide",
   					manualControls: "#control li",
   				});
        });

	</script>

{% endblock %}



