{% extends 'website/vision.html' %}
{% block title %}Logros e Indicadores de Logros{% endblock%}

{% block contenido_cuerpo2 %}
<article>
		<h3 class="fondo-abano">Logros e Indicadores de Logros</h3>
		<div class="fondo-abano">
			<h4>Evangelismo.</h4> 
			 <ul>
			 	<h4>Logro: Mantener un continuo crecimiento numérico en la iglesia.</h4> 
			 	<h4>Indicadores de logro:</h4>
			 	<li>Nombrar un coordinador de evangelismo y consolidación en la iglesia local.</li>
			 	<li>Conformar y capacitar un equipo de evangelismo y consolidación.</li>
			 	<li>Establecer  diferentes métodos para desarrollar el programa de evangelismo según la necesidad y el contexto (Grupos de vida, día del amigo, impactos, evangelismo uno a uno, el cubo, evangelismo explosivo, celebraciones especiales, entre otros).</li>
			 	<li>Establecer el programa de consolidación.</li>
			 	<li>Mantener al día el registro estadístico de crecimiento en la iglesia.</li>
			 </ul>
			 
			<h4>Misiones.</h4>
			<ul>
				<h4>Logro: Consolidar el trabajo misionero desde la iglesia local. </h4>
				<h4>Indicadores de logro:</h4>
			</ul> 
		</div>

</article>

{% endblock contenido_cuerpo2 %}