{% extends 'website/base.html' %}
{% block title %}Noticia{% endblock%}

{% block head_css_inf %}
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/flexslider/flexslider.css">
{% endblock %}

{% block header2 %}{% endblock %}


{% block section_inf %}

<section id="contenido-noticia" class="conten1 clearfix">
	<h1>{{noticia.titulo|title}}</h1>
	<h6>Publicado el {{ noticia.fecha|date:'SHORT_DATETIME_FORMAT'}}</h6>
	<img src="{{noticia.imagen.url_500x218}}">
	<p>{{noticia.contenido|linebreaks}}</p>
</section>

{% endblock %}