{% extends 'website/vision.html' %}
{% block title %}Objetivos Estratégicos{% endblock%}

{% block contenido_cuerpo2 %}
<article>
		<h3 class="fondo-abano">Objetivos Estratégicos</h3>
		<div class="fondo-abano">
			<p>1. Mejorar y mantener la estabilidad financiera de la iglesia. Definir los indicadores financieros nacionales, regionales y locales.</p>

			<p>2. Mantener continuo crecimiento numérico en las iglesias locales.</p>

			<p>3. Mejorar continuamente los procesos establecidos a nivel nacional.</p>

			<p>4. Mejorar la competencia del personal.</p>

			<p>5. Implementar y mantener activo la EFI y el SEBIL en las iglesias locales.</p>

			<p>6. Implementar y fortalecer la red de oración en cada iglesia local.</p>

			<p>7. Consolidar el uso y estandarización de la información  estadística a nivel nacional.</p>

			<p>8. Consolidar la información contable para que  sea oportuna y confiable.</p>

			<p>9. Lograr el cumplimiento de la ofrenda misionera.</p>

			<p>10. Cumplir el presupuesto (Nacional, Regional y Local).</p>

			<p>11. Recuperar  la cartera (Nacional, Regional y Local).</p>
		</div>

</article>

{% endblock contenido_cuerpo2 %}