{% extends 'website/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Oramos por tí{% endblock%}

{% block head_css_inf %}
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/peticiones.css">
{% endblock %}

{% block header2 %}
	{{ block.super }}
{% endblock header2 %}

{% block section_inf %}
<section id="content-form" class="clearfix">
	<p>Y esta es la confianza que tenemos en El, que si pedimos alguna cosa conforme
	a su voluntad, El nos oye.<br/><span><strong>1ª Juan 5:14</strong></span>
	</p>
		
	{% crispy form %}
</section>

{% endblock section_inf %}

{% block footer2 %}
{% endblock %}