{% extends 'website/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Oramos por tí{% endblock%}

{% block head_css %}
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/peticiones.css">
{% endblock %}

{% block section_contenido %}
	<section id="peticiones" class="conten1 clearfix">
		<div id="header2" class="clearfix">
			<div>
				<img src="{{STATIC_URL}}img/reloj1.jpg">
				<h1>Peticiones de Oración</h1>
			</div>	
		</div>
		<section id="cuerpo2" class="clearfix">		
			{% crispy form %}
		</section>
	</section>
{% endblock %}