{% extends 'website/base.html' %}
{% block title %}Primera vez{% endblock%}

{% block head_css_inf %}
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/primera-vez.css?101">
{% endblock %}

{% block header2 %}
	{{ block.super }}
{% endblock header2 %}


{% block section_inf %}
<section id="cuerpo2" class="clearfix">
	<section id="ministerios">
		<h3>CONOCE NUESTROS MINISTERIOS</h2>
		<div>
			<img src="{{STATIC_URL}}img/minis-jovenes.JPG?101">
		</div>
		<div>
			<img src="{{STATIC_URL}}img/minis-jovenes.JPG?101">
		</div>
		<div>
			<img src="{{STATIC_URL}}img/minis-jovenes.JPG?101">
		</div>
		<div>
			<img src="{{STATIC_URL}}img/minis-jovenes.JPG?101">
		</div>
  	</section>

  	<article>
  		<p>Estamos muy contentos de que estés en nuestro sitio web, quisiéramos enseñarte unos principios básicos que debes entender:</p>

		<p><strong>Dios te ama y quiere que lo conozcas</strong></p>

		<p>Dios creó al hombre a su imagen y su deseo es tener una relación íntima con cada uno de nosotros. “Porque de tal manera amó Dios al mundo, que ha dado a su Hijo unigénito, para que todo aquel que en él cree, no se pierda, mas tenga vida eterna” (Juan 3:16). "…yo (Jesús) he venido para que tengan vida, y para que la tengan en abundancia" (Juan 10:10). El amor de Dios es tan grande que él entregó a su Hijo Jesucristo para morir por usted.</p>

		<p><strong>Dios te ama y quiere que lo conozcas</strong></p>

		<p>Dios creó al hombre a su imagen y su deseo es tener una relación íntima con cada uno de nosotros. “Porque de tal manera amó Dios al mundo, que ha dado a su Hijo unigénito, para que todo aquel que en él cree, no se pierda, mas tenga vida eterna” (Juan 3:16). "…yo (Jesús) he venido para que tengan vida, y para que la tengan en abundancia" (Juan 10:10). El amor de Dios es tan grande que él entregó a su Hijo Jesucristo para morir por usted.</p>

		<p><strong>Dios te ama y quiere que lo conozcas</strong></p>

		<p>Dios creó al hombre a su imagen y su deseo es tener una relación íntima con cada uno de nosotros. “Porque de tal manera amó Dios al mundo, que ha dado a su Hijo unigénito, para que todo aquel que en él cree, no se pierda, mas tenga vida eterna” (Juan 3:16). "…yo (Jesús) he venido para que tengan vida, y para que la tengan en abundancia" (Juan 10:10). El amor de Dios es tan grande que él entregó a su Hijo Jesucristo para morir por usted.</p>

		<p><strong>Dios te ama y quiere que lo conozcas</strong></p>

		<p>Dios creó al hombre a su imagen y su deseo es tener una relación íntima con cada uno de nosotros. “Porque de tal manera amó Dios al mundo, que ha dado a su Hijo unigénito, para que todo aquel que en él cree, no se pierda, mas tenga vida eterna” (Juan 3:16). "…yo (Jesús) he venido para que tengan vida, y para que la tengan en abundancia" (Juan 10:10). El amor de Dios es tan grande que él entregó a su Hijo Jesucristo para morir por usted.</p>

  	</article>

</section>

<div id="footer2" class="clearfix">
	<a href="#">
		<img src="{{STATIC_URL}}img/logo2.png">
	</a>
	<aside id="aside-quienes">
		<ul id="redes">
			<li><a href="http://www.facebook.com/pages/IGLESIA-ALIANZA-CRISTIANA-MISIONERA-COLOMBIANA/251951971521832" target="_blank"></a></li>
			<li><a href="http://twitter.com" target="_blank"></a></li>
			<li><a href="http://www.youtube.com/channel/UClxDhbzp8VgAs79rCFE3O7w/feed" target="_blank"></a></li>
		</ul>
	</aside>	
</div>
{% endblock section_inf %}