{% extends 'website/vision.html' %}
{% block title %}Nuestros Símbolos{% endblock%}

{% block contenido_cuerpo2 %}
<article>
		<h3 class="fondo-abano">Nuestros Símbolos</h3>

		<div  class="fondo-abano">

			<div id="globo" class="simbol"></div>
			<div id="cruz" class="simbol"></div>
			<div id="jarro" class="simbol"></div>
			<div id="copa" class="simbol"></div>
			<div id="corona" class="simbol"></div>

			<div id="texto-intro">
				<p>Es una ALIANZA fraternal de cristianos. Nos une la libertad espiritual que Jesucristo compró para cada uno de nosotros en la Cruz del Calvario a costo de Su muerte. Somos hijos de Dios y hermanos en la fe.</p>

				<p>Es una Alianza CRISTIANA. Hemos encontrado en la persona de Jesús el perdón de pecados, paz espiritual y una vida nueva y eterna. Nuestro anhelo es caminar cada día con Cristo en un constante crecimiento espiritual.</p>

				<p>Da Click en cada icono que contiene el símbolo y obtendrás la información respectiva.</p>
			</div>
			<div id="texto-globo" class="textos">
				<p><strong>EL GLOBO:</strong> Cumplimiento De La Gran Comisión. El globo representa nuestra misión en el mundo. “De gracia recibisteis, dad de gracia”. El Señor insta a sus seguidores que prediquen el Evangelio por todo el mundo.</p>
				<p>Esta petición de su corazón al nuestro seguirá hasta que el Evangelio, a través de los esfuerzos de su iglesia.</p>
			</div>
			<div id="texto-jarro" class="textos">
				<p><strong>El JARRO:</strong> Cristo Nuestro Sanador. El Señor Jesús, para sus hijos que son creyentes y obedientes, ha comprado y provisto fuerza física, vida, y sanidad tan gratuitamente como las bendiciones espirituales del Evangelio.El tomó sobre sí mismo nuestras enfermedades igual como nuestros pecados, y de su vida resucitada y su toque viviente, nuestra fe puede recibir salud y fuerza hasta cumplir nuestra tarea aquí. “Y la oración de fe salvará al enfermo, y el Señor lo levantará; y si hubiere cometido pecados, le serán perdonados” (Santiago 5:15) </p>
				<p>Nota: Este símbolo representa un jarro de aceite para ungir a los enfermos para la santidad que viene en obediencia a la Palabra de Dios.</p>
			</div>
			<div id="texto-copa" class="textos">
				<p><strong>LA COPA:</strong> Cristo Nuestro Santificador “Como todas las cosas que pertenecen a la vida y a la piedad nos han sido dadas por su divino poder, mediante el conocimiento de aquel que nos llamó por su gloria y excelencia” (2 Pedro 1:3) La Santidad es el Señor Jesucristo mismo. El mora en nuestro corazón y camina en nuestros pasos de tal forma que vivimos como El vive. Esto nunca sería posible si ministráremos en nuestro propio orgullo o autosuficiencia., porque antes de poder recibirlo, tenemos que llegar al fin de nosotros mismos y nunca llegar a ser autosuficientes fuera de Cristo. Tal santidad significa vivir una vida de dependencia completa, a Cristo solo, en todo momento.</p>
				<p>Nota: el símbolo de la copa representa un vaso que se usaba en el templo en el Antiguo Testamento. El Sacerdote lo usaba para lavar sus pies antes de entrar en el Lugar Santísimo. Este significa lo limpieza diaria del pecado por el poder del Espíritu Santo.</p>
			</div>
			<div id="texto-corona" class="textos">
				<p><strong>LA CORONA:</strong> Cristo Nuestro Rey Que Viene. “Veréis al Hijo del Hombre sentado a la diestra del poder de Dios, u viniendo en las nubes del cielo” (Marcos 14:62)El Señor Jesús viene otra vez personalmente a la tierra. Esto no es una venida meramente espiritual al morir o una experiencia más profunda con el Espíritu Santo, o en la prédica del evangelio por todo el mundo; sino es la venida del Señor mismo, tan literal y personalmente como cuando El se fue.</p>
				<p>“Y será predicado este evangelio del reino en todo el mundo, para testimonio a todas las naciones; y entonces vendrá el fin” (Mateo 24:14)</p>
			</div>
			<div id="texto-cruz" class="textos">
				<p><strong>LA CRUZ:</strong> Cristo Nuestro Salvador “Y en ningún otro hay salvación; porque no hay otro nombre bajo el cielo, dado a los hombres en que podemos ser salvos” (Hechos 4:12) Creemos que Jesucristo murió por nuestros pecados conforme a las Escrituras...que somos redimidos por su sangre preciosa, justificados por su muerte y resurrección, hechos justos por su justicia, y aceptados en su Nombre.</p>
			</div>

		</div>

</article>
{% endblock contenido_cuerpo2 %}
