#fondo-sup,#fondo-inf{background:none !important;border-bottom:none;-webkit-box-shadow:none;-moz-box-shadow:none;-ms-box-shadow:none;-o-box-shadow:none;box-shadow:none;filter:none}
#wrapper2{margin-top:0}
#section-inf{background-color:#dfdfdd;-webkit-border-radius:0 0 15px 15px;-moz-border-radius:0 0 15px 15px;-ms-border-radius:0 0 15px 15px;-o-border-radius:0 0 15px 15px;border-radius:0 0 15px 15px}
#cuerpo2{position:relative;padding:20px;}
#cuerpo2 article,#cuerpo2 #videos{position:relative}
#cuerpo2 >article{float:left;width:60%;border-right:solid #cc9 2px;text-align:justify;}
#cuerpo2 >article p{padding-right:15px}
#cuerpo2 #videos{float:right;width:39%;}
#cuerpo2 #videos article{padding-left:10px;margin-top:20px}
#cuerpo2 #videos h2{font-family:"Times New Roman",Georgia,Serif;color:#8a191d;padding-left:10px;margin-top:15px}
#cuerpo2 #videos h3{margin:0;font-size:1em}
#footer2{padding:20px;}
#footer2 >a{display:inline-block}
#footer2 img{max-width:276px;width:100%;height:auto \ 9}
#footer2 #aside-quienes{float:right;margin-top:10px;}
#footer2 #aside-quienes ul li{display:inline-block}
@media screen and (max-width:650px){#cuerpo2 >article{width:100%;border-right:none;}
#cuerpo2 >article p{padding-right:0}
#cuerpo2 #videos{width:100%}
}