#quienes #header2{position:relative !important;background:#e0d29c;margin-top:2%;}
#quienes #header2 div{position:relative;margin:3% 0}
#quienes #header2 h1{position:absolute;top:0;z-index:0;margin-left:3%}
#quienes #header2 img{position:relative;left:0;width:100%;height:auto \ 9;z-index:1}
#quienes #cuerpo2{position:relative;padding:20px;}
#quienes #cuerpo2 article,#quienes #cuerpo2 #videos{position:relative}
#quienes #cuerpo2 >article{float:left;width:60%;border-right:solid #cc9 2px;text-align:justify;}
#quienes #cuerpo2 >article p{padding-right:15px}
#quienes #cuerpo2 #videos{float:right;width:39%;}
#quienes #cuerpo2 #videos article{padding-left:10px;margin-top:20px}
#quienes #cuerpo2 #videos h2{font-family:"Times New Roman",Georgia,Serif;color:#8a191d;padding-left:10px;margin-top:15px}
#quienes #cuerpo2 #videos h3{margin:0;font-size:1em}
#quienes #footer2{padding:20px;}
#quienes #footer2 >a{display:inline-block}
#quienes #footer2 img{max-width:276px;width:100%;height:auto \ 9}
#quienes #footer2 #aside-quienes{float:right;margin-top:10px}
@media screen and (max-width:650px){#quienes #cuerpo2 >article{width:100%;border-right:none;}
#quienes #cuerpo2 >article p{padding-right:0}
#quienes #cuerpo2 #videos{width:100%}
}