@font-face
	font-family 'miller'
	font-weight normal
	font-style normal
	src: url('../fonts/miller-textroman-webfont.eot')
	src: url('../fonts/miller-textroman-webfont.eot?#iefixt') format('embedded-opentype'),
		 url('../fonts/miller-textroman-webfont.woff') format('woff'),
		 url('../fonts/miller-textroman-webfont.ttf') format('truetype'),
		 url('../fonts/miller-textroman-webfont.svg#MillerTextRoman') format('svg')

@font-face
	font-family 'MacBook'
	font-weight normal
	font-style normal
	src: url('../fonts/mcboohmk-webfont.eot')
	src: url('../fonts/mcboohmk-webfont.eot?#iefixt') format('embedded-opentype'),
		 url('../fonts/mcboohmk-webfont.woff') format('woff'), 
		 url('../fonts/mcboohmk-webfont.ttf') format('truetype'), 
		 url('../fonts/mcboohmk-webfont.svg#McBooHmkRegular') format('svg')


///////////////////// IMPORTS /////////////////////
@import "help"
@import "reset"
 
///////////////////// EXTRUCTURA  /////////////////////
body
	background url(../img/fondo-main.jpg) #2e2312
	font-family verdana, arial, sans-serif
	//text-align center
#wrapper
	position relative
	margin 40px auto 70px auto
	max-width 1024px
	min-width 320px
	width 80%
	//background rgba(100, 200, 200, 0.1)
	
	.conten1
		borderRadius 0 0 10px 10px
	.conten2
		borderRadius 10px
	.conten1
	.conten2
		background-color #E7E6E5
		margin-bottom 20px
		position relative

///////////////////// CONTACTO BUSCAR /////////////////////
#search
	borderRadius 10px 10px 0 0 
	background-color #E7E6E5
	padding 5px 1% 5px 1%
	text-align right
	font-size 0.8em
	a
		color black
	a:hover
		color #44C2FB
	span
		margin 0 5px
		font-size 1.5em
	input[type="search"]
		borderRadius 7px
		background #CCCCCC

aside
	position absolute
	height 40px
	right 10px
	bottom 10px
	ul#redes
		padding 0 !important
		margin 0 !important
		list-style none
		li
			display inline-block
			width 37px
			height 40px
			a
				display block
				width 37px
				height 40px
				background-image url(../img/sprite-icons.png)
		li:nth-child(2)
			a
				background-position -37px 0
		li:nth-child(3)
			a
				background-position -74px 0


///////////////////// HEADER /////////////////////
header
	position relative
	gradientLinear( top, #403820, 0%, #2D2214, 50% )
	//width 100%

#logo
	position relative
	flotarIz()
	min-width 305px
	height 75px
	img
		position relative
		margin-left 5px
		margin-top 20px

///////////////////// NAVEGACION /////////////////////
nav
	flotarDer()
	position relative
	ul
		padding 0
	ul#menu
		text-align right
		position relative 
		>li
			display inline-block
			vertical-align top
			position relative
			text-align center
			border-left solid #2b0000 2px
			>a
				display block
				padding 0 10px
				height 100%
				line-height 75px
				color white
				font-family "Times New Roman", Georgia,Serif;
			&:hover .sub-menu
				display block !important
	.sub-menu
		position absolute
		z-index 999 
		width 140px
		display none
		text-align left
		background black//#2C2214
		borderRadius 0 0 5px 5px
		filter unquote('alpha(opacity=90)')
		opacity .90
		padding 10px
		li
			position relative
			margin-top 5px
			border-bottom 1px solid #555555
			&:hover
				background darkred
			a
				display block
				color white
				font-size 0.75em

///////////////////// CONTENIDO HOME ////////////////////

#contenido-home
	padding 10px
	margin-bottom 25px !important

#galeria
	position relative
	width 95%
	margin 20px auto
	background black
	#fotos
		position relative
		width 60%	
		.flexslider
			margin 0 !important
	ul#control
		position absolute
		right 3px
		top 3px
		bottom 3px
		left 60.5%
		overflow hidden
		list-style none
		margin 0
		padding-left 0
		li
			position relative
			height 24.3%
			overflow hidden
			img
				max-width 30%
				width auto \\9
				height 100%
			p
			a
				display block
				position absolute
				top 0
				right 0
				bottom 0
			p
				left 31%
				color white
				font-size 14px
				margin 0
				z-index 1
			a
				left 0 
				z-index 2
				&:hover 
					background white !important
					filter unquote('alpha(opacity=30)')
					opacity .30
		li:nth-child(1)
		li:nth-child(2)
		li:nth-child(3)
			margin-bottom 1%
		li:nth-child(2n+0)
		li:nth-child(2n+1)
			background #111111
		.flex-active
			background #222222 !important

#tips-home
	position relative
	width 100%
	article
		borderRadius 10px
		background-color #E7E6E5
		width 33%
		padding-bottom 10px
		&:nth-child(2)
		&:nth-child(3)
			position absolute 
			top 0
			bottom 0
		&:nth-child(2)
			left 33.5%
		&:nth-child(3)
			right 0
		h3
			background #660033
			color white
			borderRadius 10px 10px 0 0
			margin 0
			font-size 1em
			font-weight normal
			padding 5px
			text-align center
		div
			text-align center
		img
			max-width 100%
			width auto \\9
			margin auto
		p
			padding 0 10px
			font-size 14px
			span
				display block
				text-align right
				font-size 1em
		a
			position relative
			display block
			flotarDer()
			margin-right 10px
			margin-bottom 10px !important
			div
				display inline-block
				margin-left 5px
				width 30px
				height 30px
				background url(../img/mas.png) no-repeat

///////////////////// FOOTER /////////////////////	
footer
	position relative
	margin-top 25px
	text-align center
	a
		color black
	#top-footer
		position absolute
		width 100%
		height 30px
		borderRadius 10px 10px 0 0
		gradientLinear( top, #FCFCFC, 0%, #C9C9C9, 50% ) 
	ul
		padding 0
		list-style none
		font-size 12px
	>ul	
		>li:first-child
			min-width 80px
			width 80px	
		>li
			text-align center
			min-width 120px
			width 17%
			vertical-align top
			display inline-block
			div
				position relative
				height 30px
				gradientLinear( top, #FCFCFC, 0%, #C9C9C9, 50% )
				borderRadius 10px
				a
					display block
					padding-top 7px
				a:hover
					color #44C2FB
				span
					display block
					width 20px
					height 30px
					position absolute
					right 0
					top 0
					background url('../img/sprite-icons.png') no-repeat
					background-position -113px -1px
	.submenu-footer
		li
			margin-bottom 5px
			&:hover
				background #44C2FB
	p 
		text-align center
		font-size 11px
		padding-bottom 10px
		//font-family 'miller',Arial,Sans-serif


///////////////////// MEDIA QUERYS /////////////////////

@media screen and (min-width:801px) and (max-width:1000px)
	#wrapper
		width 90%

@media screen and (max-width:800px)
	#wrapper
		width 95%


@media screen and (max-width:650px)
	nav
		width 100%
		ul#menu
			text-align center
	#galeria
		background none
		#fotos
			width 100%
		ul#control
			position relative
			width 100%
			text-align center
			left 0
			li
				display inline-block
				background none !important
				width 22%
				img
					max-width 100%
					width auto \\9
					height auto
				p 
					left 100%
	#tips-home
		article
			position relative !important
			left 0 !important
			margin-top 10px
			width 100%
			





