@import "help"

#fondo-sup
#fondo-inf
	background none !important
	border-bottom none
	box-shadow(none)
	filter unquote(none)
#wrapper2
	margin-top 0	
#section-inf
	background-color rgb(223,223,221)
	borderRadius(0 0 15px 15px)
	
#cuerpo2
	position relative
	padding 20px
	article
	#videos
		position relative
	>article
		flotarIz()
		width 60%
		border-right solid #CCCC99 2px
		text-align justify	
		p
			padding-right 15px
	#videos
		flotarDer()
		width 39%
		article
			padding-left 10px
			margin-top 20px
		h2
			font-family "Times New Roman", Georgia,Serif
			color #8A191D
			padding-left 10px
			margin-top 15px
		h3
			margin 0
			font-size 1em


 @media screen and (max-width:650px)	
	#cuerpo2
		>article
			width 100%
			border-right none
			p
				padding-right 0
		#videos
			width 100%