@import "help"

#header-nosotros
	background-color rgb(223,223,221)
	.banner
		background-color #E0D29C
	
#cuerpo2
	position relative
	padding 20px
	article
	#videos
		position relative
	>article
		flotarIz()
		width 60%
		border-right solid #CCCC99 2px
		text-align justify	
		p
			padding-right 15px
	#videos
		flotarDer()
		width 39%
		article
			padding-left 10px
			margin-top 20px
		h2
			font-family "Times New Roman", Georgia,Serif
			color #8A191D
			padding-left 10px
			margin-top 15px
		h3
			margin 0
			font-size 1em

	#footer2
		padding 20px
		>a
			display inline-block
		img
			max-width 276px
			width 100%
			height auto\\9
		#aside-quienes
			flotarDer()
			margin-top 10px
/*body
 background url("../img/fondo-main.jpg") #300
 font-family verdana,arial,sans-serif*/