vendor(prop, args)
    -webkit-{prop} args
    -moz-{prop} args
    -ms-{prop} args
    -o-{prop} args
    {prop} args

borderRadius()
	vendor('border-radius', arguments)

boxSizing()
	vendor('box-sizing', arguments)

box-shadow()
	vendor('box-shadow', arguments)

transition()
	vendor('transition', arguments)

transform()
	vendor('transform', arguments)

transform-origin()
	vendor('transform-origin', arguments)

user-select()
	vendor('user-select', arguments)


flotarIz()
	float left

flotarDer()
	float right


///////////////////// GRADIENTES /////////////////////
gradientLinear(direccion, color1, pos1, color2, pos2, color3=false, pos3=false, color4=false, pos4=false)
	background color2 !important
	if color3 && color4 
		background -moz-linear-gradient(direccion,  color1 pos1, color2 pos2, color3 pos3, color4 pos4) !important
		background -webkit-gradient(linear, left top, left bottom, color-stop(pos1,color1), color-stop(pos2,color2), color-stop(pos3,color3), color-stop(pos4,color4)) !important;
		background -webkit-linear-gradient(direccion,  color1 pos1,color2 pos2,color3 pos3,color4 pos4) !important
		background -o-linear-gradient(direccion,  color1 pos1,color2 pos2,color3 pos3,color4 pos4) !important
		background -ms-linear-gradient(direccion,  color1 pos1,color2 pos2,color3 pos3,color4 pos4) !important
		background linear-gradient(direccion,  color1 pos1,color2 pos2,color3 pos3,color4 pos4) !important
		filter unquote('progid:DXImageTransform.Microsoft.gradient(startColorstr='+color2+',endColorstr='+color2+',GradientType=0 )' )
	else
		background -moz-linear-gradient(direccion,  color1 pos1, color2 pos2) !important
		background -webkit-gradient(linear, left top, left bottom, color-stop(pos1,color1), color-stop(pos2,color2)) !important;
		background -webkit-linear-gradient(direccion,  color1 pos1,color2 pos2) !important
		background -o-linear-gradient(direccion,  color1 pos1,color2 pos2) !important
		background -ms-linear-gradient(direccion,  color1 pos1,color2 pos2) !important
		background linear-gradient(direccion,  color1 pos1,color2 pos2) !important
		filter unquote('progid:DXImageTransform.Microsoft.gradient(startColorstr='+color1+',endColorstr='+color2+',GradientType=0 )' )
		-ms-filter unquote('"progid:DXImageTransform.Microsoft.gradient(startColorstr='+color1+', endColorstr='+color2+')"')
	



