@import "help"

#fondo-sup
#fondo-inf
	background none !important
	border-bottom none
	box-shadow(none)
	filter unquote(none)
#wrapper2
	margin-top 0	
#section-inf
	background-color rgb(223,223,221)
	borderRadius(0 0 15px 15px)
	position relative

.header2
	.banner
		div
			background rgb(138,25,30)
	h1
		position relative !important
		font-size 4em !important
		font-family 'miller', Georgia,Serif
		font-weight normal
		color white
		line-height 1em
		span
			padding-left 30%

#cuerpo-sedes
	position relative
	width 95%
	margin auto
	font-size 12px
	#input_search
		font-size 14px
	#mapa
		height 500px
		width 100%
		border solid black 2px
		margin 20px auto